@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
}

.about-us {
    position: relative;
    margin: 6.5em auto;
    width: 60vw;


}

.about-us h1, .about-us p {
    width: 25vw;
    height: auto;


}

.about-us h1 {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 3.5em;
}

.about-us hr {
    border: 1.5px solid #b30000;
    background-color: #b30000;
    width: 5em;
}

.about-us p {
    font-family: 'Ubuntu', sans-serif;
    color: #737373;
    margin: 2em 0;
    font-size: 1em;
    line-height: 29px;
}

.iframe {
    position: absolute;
    right: 0%;
    top: 0%;
}

.iframe iframe {
    width: 30vw;
    height: 350px;


}

@media (max-width: 1900px) {
    .iframe iframe {
        height: 300px;
    }
}

@media (max-width: 1900px) {
    .iframe iframe {
        height: 285px;
    }
}

 @media (max-width: 1400px) {
    .about-us {
        margin: 6.5em 5vw;
    }
    
    .about-us h1, .about-us p {
        width: 90vw;
        height: auto;
    }

    .about-us p {
        
    }
    
    .iframe {
        position: relative;
        height: 500px;
    }
    
    .iframe iframe {
        width: 90vw;
        height: 500px;
    }
    
    .iframe p {
        position: relative;
    }
}

@media (max-width: 1050px) {
    .iframe iframe {
        height: 500px;
    }
}

@media (max-width: 800px) {
    .iframe iframe {
        height: 400px;
    }
}

@media (max-width: 580px) {
    .iframe iframe {
        height: 300px;
    }
}

@media (max-width: 470px) {
    .iframe iframe {
        height: 250px;
    }
}

@media (max-width: 380px) {
    .iframe iframe {
        height: 200px;
    }
}